# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
rayt
rad/rad
rad/pmap.wunit
ply2tri
patches
box2p
draw_patches


# Directories
tst
rply-1.1.4/etc
rply-1.1.4/manual

# Debug files
*.dSYM/

*.swp
*.bk
*.tif
*.png
mymesh.txt
tags
