# Object files
*.o
*.ko
*.obj
*.elf
*.slo

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
rayt
rad
ply2tri
patches

# Debug files
*.dSYM/

*.swp
*.bk
*.tif
